<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<nav>
    <div class="nav-wrapper">
  
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
  
    </div>
</nav>

<main class="root_container">

  <!-- Main Content -->
    <body>
    <div class="container">
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add</a>
        <div id="modal1" class="modal" #modal>
            <div class="modal-content">
                <app-add-event></app-add-event>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Add</a>
            </div>
        </div>
        <div class="row">
            <app-timeline></app-timeline>
        </div>
    </div>
    </body>

</main>
